<p>
  Multiply using MultiPipe
  Multiply {{ num }} on {{ multiplier }}<br>
  Result is {{ num | multi : multiplier }}<br>
</p>

<button (click)="increaseMultiplier()">
  Increase multiplier (pipe arg)
</button>

<button (click)="decreaseMultiplier()">
  Decrease multiplier (pipe arg)
</button>

<button (click)="increaseNumber()">
  Increase number (pipe value)
</button>

<button (click)="decreaseNumber()">
  Decrease number (pipe value)
</button>

<button (click)="changeRandomProp()">
  Change random property in component
</button>

<app-child [childNum]="num" [childMultiplier]="multiplier"></app-child>

<p>
  Multiply using component function:<br>
  Multiply {{ num }} on {{ multiplier }}<br>
  Result is {{ multiply(num, multiplier) }}<br>
</p>